name: ci

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    paths-ignore:
      - 'README.md'

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  style-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: coursier/cache-action@v7
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Check formatting
        run:
          ./mill -i __.checkFormat

  test:
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '17' ]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: coursier/cache-action@v7

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Compile
        run:
          ./mill --no-server __.compile

      - name: Package
        run: ./mill --no-server show __.publishArtifacts

      - name: Test
        run:
          # The -j1 is to workaround concurrency issues in older Mill version (0.8.0) when itest-ing
          ./mill --no-server -j1 --debug __.test

  publish-sonatype:
    if: github.repository == 'scala-steward-org/mill-plugin' && contains(github.ref, 'refs/tags/')
    needs: test
    runs-on: ubuntu-latest
    env:
      LANG: "en_US.UTF-8"
      LC_MESSAGES: "en_US.UTF-8"
      LC_ALL: "en_US.UTF-8"

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: coursier/cache-action@v7

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup GPG secrets for publish
        run: |
          if [[ $(git tag --points-at HEAD) != '' ]]; then
            echo $PGP_PRIVATE_KEY | base64 --decode > gpg_key
            gpg --import --no-tty --batch --yes gpg_key
            rm gpg_key
          fi
        env:
          PGP_PRIVATE_KEY: ${{ secrets.PGP_PRIVATE_KEY }}

      - name: Publish to Maven Central
        run: |
          ./mill --no-server \
            --import "ivy:com.lihaoyi::mill-contrib-sonatypecentral:" \
            mill.contrib.sonatypecentral.SonatypeCentralPublishModule/publishAll \
           --publishArtifacts __.publishArtifacts
        env:
          MILL_PGP_PASSPHRASE: ${{ secrets.PGP_PASSWORD }}
          MILL_SONATYPE_USERNAME: ${{ secrets.SONATYPE_USER }}
          MILL_SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
